---
import { useI18n, getLangFromSlug, getLangFromUrl } from '@lib/i18n'

import { HARD_SKILLS, EXPERTISE } from '@consts'

import { getCollection } from 'astro:content'

import FormattedDate from '@components/astro/FormattedDate.astro'
import { ExperienceCard } from '@components/astro/modules/about'

import PageLayout from '@layouts/PageLayout.astro'

import { Icon } from 'astro-icon/components'

const { url } = Astro
const { t } = useI18n(url)
const lang = getLangFromUrl(url)

const dataExperiences = (await getCollection('experiences'))
  .filter((post) => !post.data.draft)
  .filter((item) => getLangFromSlug(item.slug) === lang)

const experiences = await Promise.all(
  dataExperiences.map(async (item) => {
    const { Content } = await item.render()
    return { ...item, Content }
  }),
)

const title = t('about.title')
const description = t('about.description')
const image = `/og/about-${lang}.png`
---

<PageLayout {title} {description} {image}>
  <h1 class="animate text-xl font-semibold">{t('about.heading')}</h1>
  <div class="space-y-16">
    <section class="animate flex flex-col items-center space-y-4">
      <article class="space-y-4">
        <p class="animate">
          {t('about.paragraph')}
        </p>
      </article>
      <img src="/hero.png" alt="hero image" class="animate mt-3 h-[150px] md:h-[180px]" />
    </section>
  </div>
  <!-- <div class="mt-14 space-y-6">
    <h2 class="animate font-semibold">{t('about.bio.heading')}</h2>
    <ul class="flex flex-col">
      {
        bio.map((entry) => (
          <li class="animate pt-4">
            <div class="flex gap-x-5">
              <div class="min-w-[66px] border-r-2 border-dashed border-primary pr-2 text-xl font-semibold">
                {entry.data.year}
              </div>
              <div>
                <div class="font-semibold">{entry.data.title}</div>
                {entry.data.date && (
                  <div class="text-sm opacity-75">
                    <FormattedDate date={entry.data.date} />
                  </div>
                )}
                {entry.data.role && <div class="text-sm opacity-75">{entry.data.role}</div>}
                <article>
                  <entry.Content />
                </article>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div> -->
  <div class="mt-14 space-y-6">
    <h2 class="animate font-semibold">{t('about.experience.heading')}</h2>
    <ul class="flex flex-col">
      {
        experiences.map((entry) => (
          <li class="animate mt-6">
            <ExperienceCard experience={entry.data}>
              <entry.Content />
            </ExperienceCard>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="mt-14 space-y-6">
    <h5 class="animate font-semibold">{t('about.expertise.heading')}</h5>

    <div class="grid w-full grid-cols-1 gap-2 md:grid-cols-3">
      {
        EXPERTISE.map((item) => (
          <div class="animate relative flex flex-col items-center justify-center gap-y-2 rounded-md bg-secondary p-4">
            <div class="flex flex-col items-center justify-center gap-y-1">
              <Icon name={item.icon} size="2em" class="text-main-foreground" />
              <div class="flex items-center gap-x-2">
                <p class="text-center font-bold text-main-foreground">{item.name}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="my-14 space-y-6">
    <h5 class="animate font-semibold">{t('about.hard_skills.heading')}</h5>
    <article class="space-y-4">
      <p class="animate">
        {t('about.hard_skills.paragraph')}
      </p>
    </article>
    <div class="grid w-full grid-cols-3 gap-2">
      {
        HARD_SKILLS.map((item) => (
          <div class="animate relative flex flex-col items-center justify-center gap-y-2 rounded-md bg-secondary p-4">
            <div class="flex flex-col items-center justify-center gap-y-1">
              <a href={item.link} target="_blank">
                <Icon name={item.icon} size="2em" />
              </a>
              <div class="flex items-center gap-x-2">
                <p class="font-bold text-main-foreground">{item.name}</p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</PageLayout>
