---
import { useI18n } from '@lib/i18n'

import { SITE, NAVIGATION } from '@consts'

import { Link } from '@components/astro/layout'

const { url } = Astro
const { t, p } = useI18n(url)
---

<div class="mt-4 flex flex-col gap-y-2 px-2">
  <ul class="flex flex-col gap-y-2" slot="navigation">
    {
      NAVIGATION.map((item) => (
        <li class="text-muted-foreground transition-colors duration-150 ease-linear hover:text-foreground">
          <Link href={p(`${item.href}`)} aria-label={`${SITE.NAME} on ${item.key}`} underline={false}>
            {t(`navigation.${item.key}`)}
          </Link>
        </li>
      ))
    }
  </ul>
</div>
