---
import { useI18n } from '@lib/i18n'

import { SITE, SOCIALS } from '@consts'

import { Link } from '@components/astro/layout'

import PageLayout from '@layouts/PageLayout.astro'

const { url } = Astro
const { t } = useI18n(url)
---

<PageLayout title={t('contact.title')} description={t('contact.description')}>
  <div class="space-y-16">
    <section class="animate space-y-4">
      <h4 class="text-xl font-semibold">{t('contact.title')}</h4>
      <article>
        <p>
          {t('contact.paragraph')}
        </p>
      </article>
      <ul class="flex flex-wrap gap-2">
        {
          SOCIALS.map((SOCIAL) => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
              {'/'}
            </li>
          ))
        }
        {
          SITE.EMAIL && (
            <li class="line-clamp-1">
              <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
                {SITE.EMAIL}
              </Link>
            </li>
          )
        }
      </ul>
    </section>
  </div>
</PageLayout>
