---
import { useI18n, getLangFromUrl } from '@lib/i18n'

import { BackToPrev } from '@components/astro/layout'

import PageLayout from '@layouts/PageLayout.astro'
import type { CollectionEntry } from 'astro:content'

const { url } = Astro
const { t, p } = useI18n(url)

const lang = getLangFromUrl(url)

interface Props {
  data: CollectionEntry<'uses'>
}

const { data: uses } = Astro.props

const { Content } = await uses.render()

const title = uses.data.title
const description = uses.data.description
const image = `/og/uses-${lang}.png`
---

<PageLayout {title} {description} {image}>
  <div class="animate">
    <BackToPrev href={p('/uses')}> {t('uses.back_to')}</BackToPrev>
  </div>
  <div class="my-10 space-y-1">
    <div class="animate text-2xl font-semibold text-main-foreground">
      {uses.data.title}
    </div>
  </div>
  <article class="animate">
    <Content />
  </article>
</PageLayout>
