---
import { type Language, getLangFromUrl } from '@lib/i18n'

import { SITE } from '@consts'

import { Head, Header, Footer, Sidebar, Container, Aside } from '@components/astro/layout'

import { TableOfContent } from '@components/react/layout'

import type { CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'

type Props = {
  title: string
  description: string
  author?: string
  image?: string
  lang?: Language
  content: CollectionEntry<'articles'>
  headings: MarkdownHeading[]
}

const { title, description, image, author, lang, headings } = Astro.props

const htmlLang = lang ?? getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={htmlLang}>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} image={image} author={author} />
  </head>
  <body>
    <div class="relative flex w-full flex-col md:flex-row">
      <Header />
      <Sidebar />

      <Container>
        <slot />
        <Footer />
      </Container>
      <Aside>
        <TableOfContent data-animate className="hidden px-2 text-sm md:block" toc={headings} client:visible />
      </Aside>
    </div>
  </body>
</html>
