---
import Head from '@components/astro/layout/Head.astro'
import Header from '@components/astro/layout/Header.astro'
import Footer from '@components/astro/layout/Footer.astro'
import Sidebar from '@components/astro/layout/Sidebar.astro'
import Container from '@components/astro/layout/Container.astro'

import { SITE } from '@consts'

import { type Language, getLangFromUrl } from '@lib/i18n'

type Props = {
  title: string
  description: string
  author?: string
  image?: string
  lang?: Language
}

const { title, description, image, author, lang } = Astro.props

const htmlLang = lang ?? getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={htmlLang}>
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} image={image} author={author} />
  </head>
  <body>
    <div class="relative flex w-full flex-col md:flex-row">
      <Header />
      <Sidebar />

      <Container>
        <slot />
        <Footer />
      </Container>
    </div>
  </body>
</html>
